*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.app{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(137, 43, 226, 0.204);
    overflow: scroll;
}
::placeholder{
    color: darkgrey;
}
h1{
    text-align: center;
    font-size: 70px;
}
.span{
    text-align: center;
    font-size: 40px;
    display: block;
}
button{
    padding: 5px 15px;
    margin: 10px;
    color: white;
    background-color: black;
}
.paragraf{
    transition: all 0.5s linear;
    font: 900;
    font-size: 50px;
}
.togltext{
    font-weight: 800;
    font-size: 55px;
    transition: all 0.5s linear;
}
input{
    padding: 15px 30px;
}
.useeffect{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.useeffect h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}